body{
    background-color: #f2f2f2;
}
h1{
    text-align: center;
    color: #800040;
    font-size: 40px;
    font-family: sans-serif;
}
.tagline{
    font-family: "Caveat", cursive;
    text-align: center;
    font-size: large;
    color: #b30059;
}
.cake-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #e6e6e6;
}
.cake-card{
    background-color: #ccccb3;
    width: 220px;
    padding: 12px 12px;
    border: solid #5c5c3d;
    border-radius: 8px;
    margin: 20px;
}
.cake-img{
    height: 200px;
    width: 190px;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
}
.description{
    text-align: center;
}
.btn{
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    padding: 5px 12px;
    background-color:olivedrab;
    color: white;
    border:solid #5c5c3d;
}
.btn :hover{
    cursor: pointer;
}
.about{
    margin: 25px 20px;
}
.contact{
    margin: 25px 20px;
}
.contact a{
    text-decoration: none;
}

